site_name: uRedis Documentation
site_description: uRedis is an async Redis client, pool and pub/sub toolkit built on top of uvent
site_url: https://usub-development.github.io/uredis/
repo_url: https://github.com/Usub-development/uredis
repo_name: Usub-development/uredis
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - navigation.top
    - search.highlight
    - content.code.copy

plugins:
  - search
  - autorefs

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.superfences
  - admonition
  - attr_list
  - toc:
      permalink: true

nav:
  - Overview: index.md
  - Core API:
      - RedisClient: client.md
      - RedisPool: pool.md
      - Pub/Sub (RedisSubscriber): pubsub.md
      - RedisBus: bus.md
      - Reflection helpers: reflect.md
      - Sentinel Support: sentinel.md
      - Redis Cluster Client: cluster.md
      - Redlock Distributed Locks: redlock.md
  - Internals:
      - RESP Parser & Types: internals.md
  - Examples: examples.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Usub-development/uredis
      name: GitHub Repository
    - icon: fontawesome/solid/star
      link: https://github.com/Usub-development/uredis/stargazers
      name: Star on GitHub

copyright: >
  Copyright &copy; 2025 Usub-development, Kirill Zhukov (g2px1)